node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

build
dist

.git
.gitignore

Dockerfile
docker-compose.yml
.dockerignore

.env
.env.*

logs
*.log

.vscode
.idea
.DS_Store
Thumbs.db

coverage
*.test.js
*.spec.js
__tests__