**/.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/.env
**/.git
**/.gitignore
**/.python-version
**/node_modules
**/dist
**/dist-ssr
**/*.log
**/.DS_Store
**/.idea
**/.vscode
**/requests.http
**/k8s
**/.env.example